$color-theme: #155bd4;
$white: #ffffff;
$greyLight-0: #ebedf0;
$greyLight-1: #e4ebf5;
$greyLight-2: #c8d0e7;
$greyLight-3: #9baacf;

$font-mini: 12px;
$font-middle: 14px;
$font-large: 16px;


$ui-color-black: #000;
$color-grey: #969799;
$color-red: #ee0a24;
$color-black: #000;
$color-theme: #155bd4;
$color-green:#1afa29;

$h5-color-theme: #c7655a;
